@import "tailwindcss";

@layer base {
    :root {
        @apply text-[#131313] bg-[#ececec] font-sans;
        --h2: #005aa4;
        --button-bg: #4299e1;
        --button-hover: #3182ce;
        --button-active-bg: #2c71b4;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative m-0;
    }
}

@layer components {
    button {
        @apply text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    button.save {
        @apply focus:ring-[#4299e1];

        background: var(--button-active-bg);
        &:hover {
            background: var(--button-hover);
        }
        &:active {
            background: var(--button-active-bg);
        }
    }

    button.delete {
        @apply focus:ring-[#420000] ml-4;

        background: #420000;
        &:hover {
            background: #310000;
        }
        &:active {
            background: #310000;
        }
    }

    input {
        @apply border border-gray-300 rounded-md;
    }

    input:not([type="checkbox"]) {
        @apply w-full;
    }

    input[type="checkbox"] {
        @apply ml-4;
    }

    ul li {
        @apply mb-4;
    }

    li > input {
        @apply ml-4;
    }

    select {
        @apply border border-gray-300 w-full rounded-md px-2 py-1 mb-4;
    }

    h1 {
        @apply text-2xl font-bold my-4;
    }

    h2 {
        @apply text-xl font-semibold my-2;
        color: var(--h2);
    }
}
