@import "tailwindcss";
@import "./tables.css";

@layer base, components;

@layer base {
    :root {
        @apply text-[#131313] bg-[#ececec] font-sans;
        --h2: #005aa4;
        --primary-color: #005eb8;
        --secondary-color: #3182ce;
        --button-active-bg: #2c71b4;
        --button-primary-color: #007f3b;
        --button-shadow-color: #00401e;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative m-0;
        color: #131313;
    }

    header {
        background: var(--primary-color);
        color: #fff;

        & h1,
        & h2 {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    @media (max-width: 768px) {
        header {
            @apply flex flex-col items-start justify-start;
            flex-direction: column;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: flex-start;
        }
    }
}

@layer components {
    button {
        @apply text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    button.save {
        @apply focus:ring-[#007f3b];

        background: var(--button-primary-color);
        &:hover {
            background: var(--button-shadow-color);
        }
        &:active {
            background: var(--button-shadow-color);
        }
    }

    button.delete {
        @apply focus:ring-[#d5281b] ml-4;

        background: #d5281b;
        &:hover {
            background: #310000;
        }
        &:active {
            background: #310000;
        }
    }

    input {
        @apply border border-gray-300 rounded-md p-2;
    }

    input:not([type="checkbox"]) {
        @apply w-full;
    }

    label {
        @apply my-2;
    }

    #add-task-form input[type="checkbox"] {
        @apply ml-4;
    }

    ul li {
        @apply mb-4;
    }

    li > input {
        @apply ml-4;
    }

    select {
        @apply border border-gray-300 w-full rounded-md px-2 py-1 mb-4;
    }

    h1 {
        @apply text-2xl font-bold mb-4;
    }

    main h2 {
        @apply text-xl font-semibold my-2;
        color: var(--h2);
    }

    #layout-container {
        @apply grid gap-16;
        grid-template-columns: 300px 1fr;
    }

    @media (max-width: 768px) {
        #layout-container {
            grid-template-columns: 1fr;
        }
    }

    /* TaskList */
    .actions {
        width: 5em;
    }

    .actions button {
        padding: 0.25rem;
        margin: 0.5rem 0;
    }

    .completed {
        width: 8em;
    }

    .category {
        width: 10em;
    }
}
