@import "tailwindcss";
@import "./tables.css";

@layer base {
    :root {
        @apply text-[#131313] bg-[#ececec] font-sans;
        --h2: #005aa4;
        --primary-color: #4299e1;
        --secondary-color: #3182ce;
        --button-active-bg: #2c71b4;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative m-0;
    }
}

@layer components {
    button {
        @apply text-white px-4 py-2 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2;
    }

    button.save {
        @apply focus:ring-[#4299e1];

        background: var(--primary-color);
        &:hover {
            background: var(--secondary-color);
        }
        &:active {
            background: var(--primary-color);
        }
    }

    button.delete {
        @apply focus:ring-[#420000] ml-4;

        background: #420000;
        &:hover {
            background: #310000;
        }
        &:active {
            background: #310000;
        }
    }

    input {
        @apply border border-gray-300 rounded-md;
    }

    input:not([type="checkbox"]) {
        @apply w-full;
    }

    label {
        @apply my-2;
    }

    #add-task-form input[type="checkbox"] {
        @apply ml-4;
    }

    ul li {
        @apply mb-4;
    }

    li > input {
        @apply ml-4;
    }

    select {
        @apply border border-gray-300 w-full rounded-md px-2 py-1 mb-4;
    }

    h1 {
        @apply text-2xl font-bold my-4;
    }

    h2 {
        @apply text-xl font-semibold my-2;
        color: var(--h2);
    }

    #layout-container {
        @apply grid gap-16;
        grid-template-columns: 2fr 8fr;
    }

    @media (max-width: 768px) {
        #layout-container {
            grid-template-columns: 1fr;
        }
    }

    /* TaskList */
    .actions {
        width: 5em;
    }

    .actions button {
        padding: 0.25rem;
        margin: 0.5rem 0;
    }
}
