@import "tailwindcss";

@layer base {
    :root {
        @apply text-[#131313] bg-[#ececec] font-sans;
    }

    body {
        @apply grid min-w-[320px] min-h-screen relative m-0;
    }
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    opacity: 0.05;
    background-size: 256px;
    pointer-events: none;
}
