@import "tailwindcss";

@layer base {
    table {
        @apply w-full shadow-md;
    }

    th {
        text-align: left;
        background: var(--primary-color);
        color: #ececec;
        padding: 0.5rem 0;

        &:first-child {
            padding-left: 0.5rem;
        }
        &:last-child {
            padding-right: 0.5rem;
        }
    }

    thead tr th {
        overflow: hidden;
    }

    th,
    td {
    }

    tbody {
        tr {
            td:nth-of-type(1) {
                padding-left: 0.5rem !important;
            }
        }
    }

    td {
        background: #fff;
    }

    tbody tr:nth-of-type(even) td {
        background: #eee !important;
    }
}
